# Database connection string (PostgreSQL / Neon)
DATABASE_URL="postgresql://user:password@localhost:5432/odoo_hack?schema=public"

# JWT Secret Key
JWT_SECRET="super-secret-jwt-key-change-in-production-12345"
